parameters:
	ignoreErrors:
		-
			message: '#^Cannot unset offset ''titre'' on array\{\}\.$#'
			identifier: unset.offset
			count: 1
			path: formulaires/editer_balade.php

		-
			message: '#^Cannot unset offset ''zoom'' on array\{\}\.$#'
			identifier: unset.offset
			count: 1
			path: formulaires/editer_balade.php

		-
			message: '#^Function verifier_upload_autorise not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_balade.php

		-
			message: '#^Function wkt_to_json not found\.$#'
			identifier: function.notFound
			count: 1
			path: formulaires/editer_balade.php
